.dialog {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 50%; left: 50%; transform: translate(-50%, -50%);

	background: lightblue;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
	
	width: fit-content;
	height: fit-content;
	padding: 10px;
}

.dialog .controls {
	display: flex;
}

#add-text-dialog.dialog textarea { 
	width: 400px; height: 400px; 
	font-size: 1.2rem;
}


/* for addElementDialog */
.toolbox {
	position: absolute;
	background-color: whitesmoke;
	justify-content: space-between;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
	border-radius: 10px;
	overflow: hidden;
}

.tool {
	padding: 10px;
	cursor: pointer;
}

.tool:hover { background-color: gray; }