.page-container {
	width: 100%; height: 100%;
/*	background-color: green;*/
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/* 	add_element styles  */
.text {
	padding: 7px;
	border: 2px solid black;
}

.text-box {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: auto;
	height: auto;

	rotate: 0deg;
	user-select: none;
}

.rotate-cntrl {
	padding: 10px;
	border-radius: 50%;
	background-color: black;

	position: absolute;

	cursor: move;
	display: none;
}

.rectangle-style {
	background-color: red;
	width: 100%; height: 100%;
}