.top-drag {
	background-color: black;
	width: 100%; height: 5px;
	cursor: n-resize;
}

.center {
	width: 100%; height: 100%;
	display: flex;
}

.left-drag {
	width: 5px; height: 100%;
	background-color: black;
	cursor: e-resize;
}

.right-drag {
	width: 5px; height: 100%;
	background-color: black;
	cursor: e-resize;
}

.bottom-drag {
	background-color: black;
	width: 100%; height: 5px;
	cursor: n-resize;
}